<nav>
  <ul>
    <li>
      <button (click)="toggle()">Toggle Me</button>
    </li>
  </ul>
</nav>
<main>
  <month-name-box>{{ currentMonth }}</month-name-box>
  <calendar-base>
    <calendar-day *ngFor="let number of dayNumbers">
      <day-name-box [dayNames]="dayNames" [dayNumber]="number"></day-name-box>
      <day-number-box>{{ number }}</day-number-box>
      <day-agenda-box
        [calendarEventsByDay]="calendarEventsByDay"
        [dayNumber]="number"
      ></day-agenda-box>
    </calendar-day>
  </calendar-base>
</main>
