$white: #ffffff;

$gray_1: #efefef;
$gray_2: #f7f7f7;
$gray_3: #d1d1d1;
$gray_4: #c0c0c0;
$gray_5: #ebebeb;
$gray_6: #9e9e9e;
$gray_7: #494949;

$blue_1: #77afc9;
$blue_2: #0b5479;

$red_1: #ff5b57;

// $green_1: #e7f3f0;
// $green_2: #57d1b9;
// $green_3: #eff8f6;
// $green_4: #b4dad3;
// $green_5: #1a6359;
// $green_6: #d5e7e4;

$green_1: #eef7f2;
$green_2: #70bd94;
$green_3: #ebfcf4;
$green_4: #70bd94;
$green_5: #1a6326;
$green_6: #70bd94;

$black: #1a1a1a;
